    
<div class="row">
    <div class="col-3" onclick="javascript:location.href='/Dispositivo'">
        <div class="option">
            <h1>Dispositivos</h1>
            <p>Visualize, cadastre, exclua e edite os dispositivos do sistema.</p>
        </div>
    </div>
    <div class="col-3" onclick="javascript:location.href='/Medicao'">
        <div class="option">
            <h1>Medições</h1>
            <p>Visualize as medições realizadas</p>
        </div>
    </div>
    <div class="col-3" onclick="javascript:location.href='/Bairro'">
        <div class="option">
            <h1>Bairros</h1>
            <p>Visualize, cadastre, exclua e edite os bairros do sistema.</p>
        </div>
    </div>
</div>

<link href="~/css/options.css" rel="stylesheet" />