@{
    var dadosUsuario = ViewBag.Usuario;
    var usuarioLogado = dadosUsuario != null;
    UsuarioViewModel dadosUsuarioLogado = ViewBag.Usuario as UsuarioViewModel;
    var idUsuario = dadosUsuarioLogado?.Id;
}

<div class="row">
    <div class="col-4" onclick="javascript:location.href='/Dashboard'">
        <div class="option gradient-border">
            <h1>Dashboard</h1>
            <p>Visualize gráficos das medições feitas pelos dispositivos.</p>
        </div>
    </div>
    <div class="col-4" onclick="javascript:location.href='/Medicao'">
        <div class="option gradient-border">
            <h1>Medições</h1>
            <p>Visualize as medições realizadas</p>
        </div>
    </div>
    <div class="col-4" onclick="javascript:location.href='/Usuario/Edit/@idUsuario'">
        <div class="option gradient-border">
            <h1>Editar Usuário</h1>
            <p>Edite seus dados de usuário.</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top:24px">
    <div class="col-4" onclick="javascript:location.href='/SubscriberAlerta'">
        <div class="option gradient-border">
            <h1>Avisos</h1>
            <p>Cadastre notificações de mudanças de risco de enchente</p>
        </div>
    </div>
    @if (dadosUsuarioLogado?.TipoUsuario >= EnumTipoUsuario.Tecnico)
    {
        <div class="col-4" onclick="javascript:location.href='/Dispositivo'">
            <div class="option gradient-border">
                <h1>Dispositivos</h1>
                <p>Visualize, cadastre, exclua e edite os dispositivos do sistema.</p>
            </div>
        </div>
        <div class="col-4" onclick="javascript:location.href='/Bairro'">
            <div class="option gradient-border">
                <h1>Bairros</h1>
                <p>Visualize, cadastre, exclua e edite os bairros do sistema.</p>
            </div>
        </div>
    }
</div>
<div class="row" style="margin-top:24px">
    @if (dadosUsuarioLogado?.TipoUsuario >= EnumTipoUsuario.Administrador)
    {
        <div class="col-4" onclick="javascript:location.href='/LogWeb'">
            <div class="option gradient-border">
                <h1>Logs</h1>
                <p>Visualize os logs do sistema.</p>
            </div>
        </div>
        <div class="col-4" onclick="javascript:location.href='/Usuario'">
            <div class="option gradient-border">
                <h1>Gerenciar Usuários</h1>
                <p>Visualize uma listagem de usuários, permitindo edição e exclusão.</p>
            </div>
        </div>
        <div class="col-4" onclick="javascript:location.href='/Home/About'">
            <div class="option gradient-border">
                <h1>Sobre</h1>
                <p>Visualize os nomes e RAs dos integrantes do grupo :)</p>
            </div>
        </div>
    }
</div>

<link href="~/css/options.css" rel="stylesheet" />