    
<div class="row">

    <div class="col-4" onclick="javascript:location.href='/Dashboard'">
        <div class="option gradient-border">
            <h1>Dashboard</h1>
            <p>Visualize gráficos das medições feitas pelos dispositivos.</p>
        </div>
    </div>
    <div class="col-4" onclick="javascript:location.href='/Dispositivo'">
        <div class="option gradient-border">
            <h1>Dispositivos</h1>
            <p>Visualize, cadastre, exclua e edite os dispositivos do sistema.</p>
        </div>
    </div>
    <div class="col-4" onclick="javascript:location.href='/Medicao'">
        <div class="option gradient-border">
            <h1>Medições</h1>
            <p>Visualize as medições realizadas</p>
        </div>
    </div>
    <div class="col-4" onclick="javascript:location.href='/Bairro'">
        <div class="option gradient-border" style="margin-top:20px">
            <h1>Bairros</h1>
            <p>Visualize, cadastre, exclua e edite os bairros do sistema.</p>
        </div>
    </div>

    <br /><br /><br /><br />
    <div class="col-4" onclick="javascript:location.href='/LogWeb'">
        <div class="option gradient-border" style="margin-top:20px">
            <h1>Logs</h1>
            <p>Visualize os logs do sistema.</p>
        </div>
    </div>

    <div class="col-4" onclick="javascript:location.href=''">
        <div class="option gradient-border"style="margin-top:20px">
            <h1>Editar Usuário</h1>
            <p>Edite seus dados de usuário.</p>
        </div>
    </div>

</div>

<link href="~/css/options.css" rel="stylesheet" />